.App {

}

.info-box {
    width: 500px;
    margin: 10px auto;
    height: 200px;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page {
    width: 800px;
    margin: 20px auto;
    background-color: #eee;
    min-height: 500px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}